.partners-slider {
	overflow: hidden;
	padding: 0 rem(20);
	@media (max-width: $tablet) {
		padding-left: rem(10);
	}
}

.partners-slider-wrapper {
	display: inline-flex;
	align-items: center;
	@media (max-width: $mobileSmall) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: rem(21);
		row-gap: rem(24);
		padding-bottom: 80px;
	}
}

.partners-slider-buttons {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	display: inline-flex;
	flex-direction: column;
	gap: rem(50);
	@media (max-width: $mobileSmall) {
		display: none;
	}
}

.partners-slider-prev {
	transform: rotate(180deg);
}
.partners-slider-next {
}
.partners-slider-btn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: rem(65);
	height: rem(65);
	border-radius: 50%;
	background-color: var(--color-accent);
	border: 1px solid #cfcfcf;
	cursor: pointer;

	&::before {
		content: '';
		position: absolute;
		left: 55%;
		transform: translateX(-50%);
		border-style: solid;
		border-width: rem(12) 0 rem(12) rem(16);
		border-color: transparent transparent transparent #fff;
	}

	&.swiper-button-disabled {
		background: #f1f1f1;
		border: 1px solid #cfcfcf;
		pointer-events: none;
		&::before {
			content: '';
			border-color: transparent transparent transparent #cfcfcf;
		}
	}

	@media (max-width: rem(1920)) {
		width: rem(48);
		height: rem(48);
		&::before {
			border-width: rem(9) 0 rem(9) rem(12);
		}
	}
	@media (max-width: rem(1440)) {
		width: rem(40);
		height: rem(40);
		&::before {
			border-width: rem(7.5) 0 rem(7.5) rem(10);
		}
	}
}
