.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease 0s;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.05em;
	background-color: var(--color-accent);
	color: #ffffff;
	padding: rem(20.5) rem(10);
	width: 100%;
	box-shadow: 0px 100px 80px rgba(31, 80, 254, 0.014),
		0px 64.8148px 46.8519px rgba(31, 80, 254, 0.019),
		0px 38.5185px 25.4815px rgba(31, 80, 254, 0.022),
		0px 20px 13px rgba(31, 80, 254, 0.025),
		0px 8.14815px 6.51852px rgba(31, 80, 254, 0.028),
		0px 1.85185px 3.14815px rgba(0, 0, 0, 0.03);

	@media (max-width: rem(1280)) {
		font-size: rem(14);
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: #315efe;
		}
	}

	&:active {
		background-color: #3a65fe;
	}

	&--main {
		display: block;
		margin: 0px auto;
		max-width: rem(548);
	}
	&--asymmetry {
		display: block;
		margin: 0px auto;
		border-radius: 20px 0px 20px 0px;
	}
	&--rounded {
		display: block;
		margin-left: auto;
		max-width: rem(612);
		border-radius: em(40);
	}
	&--right {
		border-radius: 0 em(40) em(40) 0px;
		max-width: rem(452);
	}
	// &--right-big {
	// 	border-radius: 0 em(40) em(40) 0px;
	// }
}

.section-pt {
	@include adaptiveValue('padding-top', 80, 40);
}
.section-pb {
	@include adaptiveValue('padding-bottom', 175, 95);
}

.section-mt {
	@include adaptiveValue('margin-top', -100, -40);
}

.section-br {
	border-radius: rem(50) rem(50) 0 0;
}

.section-title {
	font-weight: 700;
	@include adaptiveValue('font-size', 50, 24);
	line-height: 29px;

	&--darken {
		color: var(--color-main);
	}

	&--light {
		color: #fff;
	}
}
